{% for movie in movies %}
<div class="grid movie" data-movie-id="{{ movie.id }}">
  <img
    src="https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}"
    alt="{{ movie.title }} poster"
  />
  <div class="movie-info">
    <div class="movie-title">{{ movie.title }}</div>
    <div class="movie-overview">{{ movie.overview[:100] }}...</div>
    <div class="movie-release-date">
      📅 {{ movie.release_date | short_date }}
    </div>
    <div class="movie-vote-average">⭐ {{ movie.vote_average | round(2) }}</div>
    <div class="movie-tmdb-link">
      <a
        href="https://www.themoviedb.org/movie/{{ movie.tmdb_id }}"
        target="_blank"
        >TMDB link</a
      >
    </div>
  </div>
</div>
{% endfor %}
